webhookinjector:
  image:
    repository: impartsecurity/k8s-webhook-injector:0.8.0
    pullPolicy: IfNotPresent
    pullSecrets: []
  logLevel: "2"
  logFormat: "text-basic"
  # specify additional volumes to mount in the sidecar-injector container
  additionalVolumes: []
  # specify where the additional volumes are mounted in the sidecar-injector container
  additionalVolumeMounts: []
  objectSelectorLabel: impart-inspector-injection
  resources: {}
  replicaCount: 1
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
  serviceAccount:
    create: true
    annotations: {}
    name: ""
  podSecurityContext:
    {}
    # fsGroup: 2000
  securityContext:
    {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000
  nodeSelector: {}
  tolerations: []
  affinity: {}
  service:
    type: ClusterIP
    port: 443
    targetPort: 8443
  certificate:
    generate: true
    caCrt: ""
    tlsCrt: ""
    tlsKey: ""

proxyinit:
  enabled: true
  image:
    repository: impartsecurity/k8s-sidecar-init:0.8.0
    pullPolicy: IfNotPresent
  ignorePorts:
    inbound: ""
    outbound: ""

inspector:
  impartApiUrl: "https://api.impartsecurity.net/v0"
  image:
    repository: impartsecurity/inspector:0.8.1
    pullPolicy: IfNotPresent
  # reference to kubernetes tls secret config
  tlsSecretRef: ""
  mode: "sidecar_proxy"
  destinationAddr: ""
  port: 14143
  tcp_listen_addr: ":20210"
  sigtermDelaySeconds: 20
  logLevel: "2"
  logFormat: "text-basic"
  unixSocketPath: "/tmp/impart/inspector.sock"
  unixSocketPermissions: 0666

  auth:
    tenantDomain: ""
    jwtAudience: ""
    apiClientId: ""
    apiSecretRef: ""
    accessTokenSecretRef: ""
    accessTokenFileSecretRef: "" #access token secret mounted as file
  additionalVolumes: []
  additionalVolumeMounts: []
  resources:
    limits:
      cpu: 2
      memory: 2Gi
    requests:
      cpu: 300m
      memory: 512Mi

controlnode:
  name: controlnode
  enabled: true
  image:
    repository: impartsecurity/control-node:0.8.0
    pullPolicy: IfNotPresent
    pullSecrets: []
  port: 7946
  logLevel: "2"
  logFormat: "text-basic"
  # specify additional volumes to mount in the sidecar-injector container
  additionalVolumes: []
  # specify where the additional volumes are mounted in the sidecar-injector container
  additionalVolumeMounts: []
  resources: {}
  serviceAccount:
    create: true
    annotations: {}
    name: ""
  podSecurityContext: {}
  securityContext: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  service:
    type: ClusterIP
    port: 7946
    targetPort: 7946
